<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css" />
    <title>About</title>
</head>
<body>
    <nav class="nav-bar">
        <ul class="nav-bar-ul">
                <li> <a href="home"> Home </a> </li>
                <li> <a href="about"> About </a> </li>
                <li> <a href="works"> Works </a> </li>
                <li> <a href="gallary">Gallary</a> </li>
        </ul>
    </nav>
    <header class="header_about">
        <h2>Kylian Mbappé</h2>
        <aside>
            <i> “Footballeur international ”</i>
        </aside>
    </header>
    <p> 
        Kylian Mbappé, né le 20 décembre 1998 à Paris, est un footballeur international français qui joue au poste d'attaquant au Paris Saint-Germain, en Ligue 1. 
        <br>Il est considéré comme un des meilleurs joueurs du monde pour sa vitesse, son sens du dribble et ses qualités de finisseur.
        <br>Vainqueur du championnat de France en 2017 avec l'AS Monaco, il est transféré au Paris Saint-Germain le 31 août 2017. 
        <br>Le soir même, il marque son premier but en équipe de France.
    </p>
        
</body>
</html>