<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css" />
    <title>GALLARY</title>
</head>
<body>
    <nav class="nav-bar">
        <ul class="nav-bar-ul">
                <li> <a href="home"> Home </a> </li>
                <li> <a href="about"> About </a> </li>
                <li> <a href="works"> Works </a> </li>
                <li> <a href="gallary">Gallary</a> </li>
        </ul>
      </nav>
    
    <h3> Photos Gallary of Kylian Mbappé</h3> <br>
    
    <span id="votre_id1" class="target"> </span>
    <span id="votre_id2" class="target"> </span>
    <span id="votre_id3" class="target"> </span>
    <span id="votre_id4" class="target"> </span>
    <div class="cadre_diapo">
        <div class="interieur_diapo">
            <div class=description>
                <img src="/public/km2.JPG" alt="km2">
            </div>
            <div class=description>
                
                <img src="/public/km3.JPG" alt="km3">
            </div>
            <div class=description>
                
                <img src="/public/km4.JPG" alt="km4">
            </div>
        </div>
            <ul class="navigation_diapo">
                <li>
                    <a href="#votre_id1">
                        <img src="/public/kmbasket.JPG" alt="km">
                    </a>
                </li>
                <li>
                    <a href="#votre_id2">
                        <img src="/public/kmdivan.JPG" alt="km">
                    </a>
                </li>
                <li>
                    <a href="#votre_id3">
                        <img src="/public/km5.JPG" alt="km5">
                    </a>
                </li>
                <li>
                    <a href="#votre_id4">
                        <img src="/public/km11.JPG" alt="km11">
                    </a>
                </li>
                <li>
                    <a href="#votre_id5">
                        <img src="/public/km6.JPG" alt="km6">
                    </a>
                </li>
                <li>
                    <a href="#votre_id6">
                        <img src="/public/km7.JPG" alt="km7">
                    </a>
                </li>
                <li>
                    <a href="#votre_id7">
                        <img src="/public/km8.JPG" alt="km8">
                    </a>
                </li>
                <li>
                    <a href="#votre_id8">
                        <img src="/public/km6.JPG" alt="km6">
                    </a>
                </li>
                <li>
                    <a href="#votre_id9">
                        <img src="/public/km9.JPG" alt="km9">
                    </a>
                </li>
                <li>
                    <a href="#votre_id10">
                        <img src="/public/km10.JPG" alt="km10">
                    </a>
                </li>
                <li>
                    <a href="#votre_id11">
                        <img src="/public/km11.JPG" alt="km11">
                    </a>
                </li>
                <li>
                    <a href="#votre_id12">
                        <img src="/public/km12.JPG" alt="km12">
                    </a>
                </li>
                <li>
                    <a href="#votre_id13">
                        <img src="/public/km13.JPG" alt="km13>
                    </a>
                </li>
                <li>
                    <a href="#votre_id14">
                        <img src="/public/km14.JPG" alt="km14">
                    </a>
                </li>
                <li>
                    <a href="#votre_id15">
                        <img src="/public/km15.JPG" alt="km15">
                    </a>
                </li>
                <li>
                    <a href="#votre_id16">
                        <img src="/public/km16.JPG" alt="km16">
                    </a>
                </li>
            </ul>
    </div>
    
</body>
</html>