<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css" />
    <title>Homo</title>
</head>
<body>
    <nav class="nav-bar">
        <ul class="nav-bar-ul">
                <li> <a href="home"> Home </a> </li>
                <li> <a href="about"> About </a> </li>
                <li> <a href="works"> Works </a> </li>
                <li> <a href="gallary">Gallary</a> </li>
        </ul>
    </nav>
    <header class="header_home">
        <h2>Kylian Mbappé</h2>
        <aside class="quote">
            <i> “Footballeur international ”</i>
        </aside>
    </header>
    <section> 
        <article> 
            <p>
                Kylian Mbappé est l'un des acteurs majeurs de l'équipe de France qui remporte la Coupe du monde 2018 en Russie sous la houlette de Didier Deschamps. 
            <br>Champion du monde à dix-neuf ans, il devient le deuxième plus jeune joueur après Pelé à inscrire un doublé en phase finale de Coupe du monde (en huitième de finale face à l'Argentine) et à marquer lors de la finale, remportée 4-2 devant la Croatie. 
            <br>Buteur à quatre reprises, il est désigné meilleur jeune joueur de la compétition par la FIFA.
            </p>
        </article>
    </section>
    <footer>

    </footer>
</body>
</html>