<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css" />
    <title>Works</title>
</head>
<body>
    <nav class="nav-bar">
        <ul class="nav-bar-ul">
                <li> <a href="home"> Home </a> </li>
                <li> <a href="about"> About </a> </li>
                <li> <a href="works"> Works </a> </li>
                <li> <a href="gallary">Gallary</a> </li>
        </ul>
    </nav>
    <header class="header_works">
        <h2>Kylian Mbappé</h2>
        <aside class="quote">
            <i> “Footballeur international ”</i>
        </aside>
    </header>
    <p>
        Fin 2018, il remporte le trophée Kopa du meilleur joueur mondial de l'année de moins de 21 ans. Le 11 juin 2019, il est le plus jeune joueur à inscrire 100 buts en professionnel, à 20 ans et 5 mois, et également en 2021, à 22 ans et 291 jours, à atteindre les 50 sélections avec le maillot bleu. Le 13 novembre 2021, lors du match qui donne la qualification aux Bleus pour la Coupe du monde 2022 face au Kazakhstan (8-0), il inscrit le premier quadruplé d'un joueur français en compétition depuis Just Fontaine, lors de la Coupe du monde 1958.
        Durant la Coupe du monde 2022, il termine meilleur buteur de la compétition avec 8 buts. Lors de la finale face à l'Argentine (3-3, défaite 4-2 aux tirs au but),<br> Kylian Mbappé reproduit l'exploit de l'Anglais Geoff Hurst en 1966 en inscrivant un triplé. 
        Ajouté à son but lors de la finale de 2018, le Français est désormais le premier joueur de l'histoire à avoir inscrit 4 buts en finale de Coupe du monde. 
        Il devient par ailleurs le sixième meilleur buteur de la compétition avec 12 réalisations (à égalité avec Pelé).
    </p>
</body>
</html>